*{
  margin:0;
  padding:0;
}

html,body
{
  width:100%;
  height:100%;
}

canvas {
  position:absolute;
  left:0;
  top:0;
  display:block;
}

#bg {
  background-color:rgb(1,1,1);
  z-index:1;
}

#fld{
  z-index:10;
}


#bg1 {
z-index:2;
}
