<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kkm.thumbfire"
        versionCode = "2" 
        version     = "2.0.0" >

    <name>Random Space</name>

    <description>
        Procedurally generated space shooter
    </description>

    <author href="https://build.phonegap.com" email="krishnakumarm777@gmail.com">
        Krishnakumar Muraleedharan
    </author>
    <icon src="icons/mdpi.png" />
<icon src="icons/mdpi.png" platform="android" qualifier="mdpi" />
<icon src="icons/hdpi.png" platform="android" qualifier="hdpi" />
<icon src="icons/xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="icons/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
  
    
    <platform name="android" >
  <preference name="orientation" value="landscape" />
        <preference name="phonegap-version" value="cli-6.2.0" />
</platform>

</widget>
